<%= form_with(model: store, class: "contents") do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location %>
    <%= form.text_field :location, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <% if store.image.attached? %>
      <%= image_tag(store.image.variant(resize_to_limit: [100, 100])) %>
      <%= form.check_box :remove_image %>
      <%= form.label :remove_image, "Remove image" %>
    <% else %>
      <%= form.file_field :image, accept: "image/png, image/jpg, image/jpeg", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :thumb %>
    <% if store.thumb.attached? %>
      <%= image_tag(store.thumb.variant(resize_to_limit: [100, 100])) %>
      <%= form.check_box :remove_thumb %>
      <%= form.label :remove_thumb, "Remove thumb" %>
    <% else %>
      <%= form.file_field :thumb, accept: "image/png, image/jpg, image/jpeg", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.number_field :price, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>

<% end %>
