<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @store %>">
      <p class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= @store.name %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Location:</strong>
        <%= @store.location %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Image:</strong>
        <%= image_tag(@store.image.variant(resize_to_limit: [100, 100])) %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Thumb:</strong>
        <%= image_tag(@store.thumb.variant(resize_to_limit: [100, 100])) %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <%= @store.description %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Price:</strong>
        <%= @store.price %>
      </p>

    </div>

    <%= link_to "Edit this store", edit_store_path(@store), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to stores", stores_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this store", @store, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
