<!DOCTYPE html>
<html lang="en" data-theme="luxury">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
  <div class="h-screen">
    <!-- Page content here -->
    <%= render "layouts/header" %>
    <div class="container md:max-w-[375px] md:mx-auto">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </div>
    <%= render "layouts/analytics" %>
  </body>
</html>
